//Main faces styles, these are inherited by all other faces that call this block
.faces {
    width: 25px;
    height: 25px;
    content: " ";
    background-image: url(%%hypermega%%);
    display: inline-block;
}
//Chrome bug fix
.usertext-body a { display: inline-block; }

//Using this syntax (as opposed to 3 line syntax)
//a[href="/example"]:after {
//    @extend .faces;
//    @include sizer(-240px, -30px, 25px, 25px);
//                  (background x position, background y position, face width, face height)
//                  (sass will compile this to
//                      background-position: -240px -30px;
//                      width: 25px;
//                      height: 25px;
//}

@mixin sizer($posx: 0, $posy: 0, $sizex: 25, $sizey: 25) {
    background-position: $posx $posy;
    width: $sizex;
    height: $sizey;
}

//When creating new faces, please follow this syntax
// a[href="/facename"]:after {
//    @extend .faces;
//    other css here
//}
//It is important that you get the @extend block, this makes the code much easier to edit

a[href="/fy1"]:after {
    @extend .faces;
    @include sizer(-240px, -30px, 23px, 25px);
}
a[href="/milk"]:after {
    @extend .faces;
    @include sizer(-210px, -60px, 21px, 25px);
}
a[href="/pickletime"]:after {
    @extend .faces;
    @include sizer(-240px, -87px, 56px, 21px);
}
a[href="/notsure"]:after {
    @extend .faces;
    @include sizer(-433px, -315px, 22px, 34px);
}
a[href="/fuckthatshit"]:after {
    @extend .faces;
    @include sizer(0, -180px, 61px, 88px);
}
a[href="/teethrage"]:after {
    @extend .faces;
    @include sizer(-331px, -61px, 59px, 59px);
}
a[href="/foreveralone"]:after {
    @extend .faces;
    @include sizer(-330px, -120px, 88px, 95px);
}
a[href="/bzz"]:after {
    @extend .faces;
    @include sizer(-125px, -150px, 97px, 28px);
}
a[href="/creepy"]:after {
    @extend .faces;
    @include sizer(-300px, -60px, 30px, 31px);
}
a[href="/itstime"]:after {
    @extend .faces;
    @include sizer(-270px, -300px, 41px, 41px);
}
a[href="/gtroll"]:after {
    @extend .faces;
    @include sizer(-149px, -300px, 35px, 31px);
}
a[href="/fap"]:after {
    @extend .faces;
    @include sizer(-331px, -330px, 39px, 45px);
}
a[href="/pfttxt"]:after {
    @extend .faces;
    @include sizer(-120px, -571px, 12px, 24px);
}
a[href="/biggusta"]:after {
    @extend .faces;
    @include sizer(-370px, -380px, 65px, 67px);
}
a[href="/hahahahaha"]:after {
    @extend .faces;
    @include sizer(-60px, -541px, 35px, 34px);
}
a[href="/2229"]:after {
    @extend .faces;
    @include sizer(-108px, -403px, 47px, 67px);
}
a[href="/smokeweedeveryday"]:after {
    @extend .faces;
    @include sizer(-180px, -420px, 45px, 54px);
}
a[href="/jackieeeee!"]:after {
    @extend .faces;
    @include sizer(-210px, -361px, 95px, 54px);
}
a[href="/jizzsplosion"]:after {
    @extend .faces;
    @include sizer(-315px, -380px, 50px, 67px);
}
a[href="/ifeelsyabreh"]:after {
    @extend .faces;
    @include sizer(-450px, -30px, 47px, 50px);
}
a[href="/trollmom"]:after {
    @extend .faces;
    @include sizer(-332px, -240px, 62px, 80px);
}
a[href="/femyao"]:after {
    @extend .faces;
    @include sizer(-420px, -150px, 63px, 66px);
}
a[href="/ilovethebeefytaco"]:after {
    @extend .faces;
    @include sizer(-59px, -270px, 32px, 26px);
}
a[href="/gyey"]:after {
    @extend .faces;
    @include sizer(0, 0, 26px, 24px);
}
a[href="/gwat"]:after {
    @extend .faces;
    @include sizer(-30px, 0, 26px, 25px);
}
a[href="/gsmile"]:after {
    @extend .faces;
    @include sizer(-60px, 0, 26px, 24px);
}
a[href="/gtongue"]:after {
    @extend .faces;
    @include sizer(-90px, 0, 26px, 25px);
}
a[href="/gohno"]:after, a[href="/gwah"]:after {
    @extend .faces;
    @include sizer(-120px, 0, 30px, 30px);
}
a[href="/ghappy"]:after {
    @extend .faces;
    @include sizer(-150px, 0, 30px, 30px);
}
a[href="/gbeh"]:after {
    @extend .faces;
    @include sizer(-180px, 0, 25px, 25px);
}
a[href="/gohno"]:after {
    @extend .faces;
    @include sizer(-210px, 0, 30px, 30px);
}
a[href="/gfu"]:after {
    @extend .faces;
    @include sizer(-240px, 0, 24px, 25px);
}
a[href="/guhm"]:after {
    @extend .faces;
    @include sizer(-270px, 0, 25px, 30px);
}
a[href="/fu"]:after {
    @extend .faces;
    @include sizer(0, -29px, 26px, 26px);
}
a[href="/beh"]:after {
    @extend .faces;
    @include sizer(-29px, -28px, 27px, 27px);
}
a[href="/gah"]:after {
    @extend .faces;
    @include sizer(-60px, -30px, 24px, 26px);
}
a[href="/perfect"]:after {
    @extend .faces;
    @include sizer(-90px, -30px, 26px, 23px);
}
a[href="/happy"]:after {
    @extend .faces;
    @include sizer(-120px, -30px, 26px, 26px);
}
a[href="/uhm"]:after {
    @extend .faces;
    @include sizer(-150px, -30px, 24px, 26px);
}
a[href="/wat"]:after {
    @extend .faces;
    @include sizer(-180px, -30px, 25px, 27px);
}
a[href="/yey"]:after {
    @extend .faces;
    @include sizer(-210px, -30px, 24px, 26px);
}
a[href="/fuckyeah"]:after {
    @extend .faces;
    @include sizer(-240px, -30px, 27px, 23px);
}
a[href="/ewbte"]:after {
    @extend .faces;
    @include sizer(-270px, -30px, 24px, 26px);
}
a[href="/son"]:after {
    @extend .faces;
    @include sizer(0, -60px, 23px, 24px);
}
a[href="/high"]:after {
    @extend .faces;
    @include sizer(-30px, -60px, 26px, 25px);
}
a[href="/poker"]:after {
    @extend .faces;
    @include sizer(-60px, -60px, 30px, 30px);
}
a[href="/rightmilk"]:after {
    @extend .faces;
    @include sizer(-90px, -60px, 23px, 26px);
}
a[href="/megusta"]:after {
    @extend .faces;
    @include sizer(-120px, -60px, 25px, 25px);
}
a[href="/troll"]:after {
    @extend .faces;
    @include sizer(-150px, -60px, 26px, 27px);
}
a[href="/rtroll"]:after {
    @extend .faces;
    @include sizer(-180px, -60px, 25px, 26px);
}
a[href="/leftmilk"]:after {
    @extend .faces;
    @include sizer(-210px, -60px, 22px, 26px);
}
a[href="/futext"]:after {
    @extend .faces;
    @include sizer(-240px, -60px, 11px, 30px);
}
a[href="/pft"]:after {
    @extend .faces;
    @include sizer(-270px, -60px, 24px, 25px);
}
a[href="/sadtroll"]:after {
    @extend .faces;
    @include sizer(0, -90px, 25px, 25px);
}
a[href="/wetodddog"]:after {
    @extend .faces;
    @include sizer(-30px, -90px, 27px, 35px);
}
a[href="/harpdarp"]:after {
    @extend .faces;
    @include sizer(-60px, -91px, 35px, 38px);
}
a[href="/dude"]:after {
    @extend .faces;
    @include sizer(-120px, -90px, 23px, 26px);
}
a[href="/eyes"]:after {
    @extend .faces;
    @include sizer(-150px, -90px, 30px, 30px);
}
a[href="/awman"]:after {
    @extend .faces;
    @include sizer(-180px, -90px, 36px, 29px);
}
a[href="/bepsausage"]:after {
    @extend .faces;
    @include sizer(-240px, -90px, 57px, 19px);
}
a[href="/lol"]:after {
    @extend .faces;
    @include sizer(0, -120px, 22px, 26px);
}
a[href="/omg"]:after {
    @extend .faces;
    @include sizer(-120px, -120px, 35px, 30px);
}
a[href="/pissed"]:after {
    @extend .faces;
    @include sizer(-180px, -120px, 20px, 25px);
}
a[href="/hmm"]:after {
    @extend .faces;
    @include sizer(-210px, -120px, 30px, 30px);
}
a[href="/whoa"]:after {
    @extend .faces;
    @include sizer(-240px, -120px, 25px, 24px);
}
a[href="/sad"]:after {
    @extend .faces;
    @include sizer(-269px, -119px, 25px, 25px);
}
a[href="/thumbsup"]:after {
    @extend .faces;
    @include sizer(0, -150px, 30px, 25px);
}
a[href="/blackhair"]:after {
    @extend .faces;
    @include sizer(-30px, -150px, 25px, 30px);
}
a[href="/hehheh"]:after {
    @extend .faces;
    @include sizer(-60px, -150px, 25px, 25px);
}
a[href="/straight"]:after {
    @extend .faces;
    @include sizer(-90px, -150px, 25px, 30px);
}
a[href="/bepinthemorning"]:after {
    @extend .faces;
    @include sizer(-120px, -150px, 100px, 30px);
}
a[href="/red"]:after {
    @extend .faces;
    @include sizer(-240px, -150px, 34px, 30px);
}
a[href="/bepislaughingatyourmum"]:after {
    @extend .faces;
    @include sizer(0, -180px, 60px, 90px);
}
a[href="/nomegusta"]:after {
    @extend .faces;
    @include sizer(0, -270px, 24px, 30px);
}
a[href="/wtf"]:after {
    @extend .faces;
    @include sizer(-90px, -180px, 60px, 90px);
}
a[href="/trolldad"]:after {
    @extend .faces;
    @include sizer(-180px, -180px, 43px, 60px);
}
a[href="/wayevil"]:after {
    @extend .faces;
    @include sizer(-240px, -180px, 40px, 40px);
}
a[href="/challengeaccepted"]:after {
    @extend .faces;
    @include sizer(-300px, -180px, 30px, 40px);
}
a[href="/melvin"]:after {
    @extend .faces;
    @include sizer(-300px, -240px, 30px, 30px);
}
a[href="/welp"]:after {
    @extend .faces;
    @include sizer(-300px, -120px, 30px, 33px);
}
a[href="/bepistrollingyoubetter"]:after {
    @extend .faces;
    @include sizer(-300px, -60px, 30px, 30px);
}
a[href="/djlovestaco"]:after {
    @extend .faces;
    @include sizer(-60px, -270px, 30px, 30px);
}
a[href="/why"]:after {
    @extend .faces;
    @include sizer(-90px, -270px, 30px, 30px);
}
a[href="/surprised"]:after, a[href="/suprised"]:after {
    @extend .faces;
    @include sizer(-120px, -270px, 30px, 30px);
}
a[href="/longneck"]:after {
    @extend .faces;
    @include sizer(0, -300px, 63px, 54px);
}
a[href="/sweetjesus"]:after {
    @extend .faces;
    @include sizer(-90px, -300px, 40px, 38px);
}
a[href="/notokay"]:after {
    @extend .faces;
    @include sizer(0, -360px, 31px, 37px);
}
a[href="/yuno"]:after {
    @extend .faces;
    @include sizer(-30px, -360px, 42px, 44px);
}
a[href="/awyeah"]:after, a[href="/awyea"]:after {
    @extend .faces;
    @include sizer(-90px, -360px, 65px, 40px);
}
a[href="/ohisthatacarrot"]:after, a[href="/carrt"]:after {
    @extend .faces;
    @include sizer(-160px, -360px, 32px, 30px);
}
a[href="/iamawaffle"]:after {
    @extend .faces;
    @include sizer(-60px, -540px, 33px, 35px);
}
a[href="/jackieeeee"]:after {
    @extend .faces;
    @include sizer(-210px, -360px, 100px, 60px);
}
a[href="/aintthatsomeshit"]:after {
    @extend .faces;
    @include sizer(-210px, -300px, 50px, 41px);
}
a[href="/igotthis"]:after {
    @extend .faces;
    @include sizer(-270px, -300px, 50px, 50px);
}
a[href="/teeth"]:after {
    @extend .faces;
    @include sizer(-330px, -60px, 60px, 60px);
}
a[href="/foreveralonewithyourmum"]:after {
    @extend .faces;
    @include sizer(-330px, -120px, 90px, 95px);
}
a[href="/megustaperfect"]:after {
    @extend .faces;
    @include sizer(-330px, 0, 60px, 52px);
}
a[href="/fapfap"]:after {
    @extend .faces;
    @include sizer(-330px, -330px, 45px, 45px);
}
a[href="/schlick"]:after {
    @extend .faces;
    @include sizer(-390px, -330px, 40px, 45px);
}
a[href="/gtfo"]:after {
    @extend .faces;
    @include sizer(-30px, -270px, 30px, 30px);
}
a[href="/stare"]:after {
    @extend .faces;
    @include sizer(-240px, -240px, 47px, 36px);
}
a[href="/fumanchu"]:after {
    @extend .faces;
    @include sizer(-180px, -240px, 60px, 41px);
}
a[href="/vuvu"]:after {
    @extend .faces;
    @include sizer(-390px, 0, 30px, 30px);
}
a[href="/pfttext"]:after {
    @extend .faces;
    @include sizer(-120px, -570px, 30px, 30px);
}
a[href="/indeed"]:after {
    @extend .faces;
    @include sizer(-450px, 0, 15px, 25px);
}
a[href="/ifeelyoubrah"]:after {
    @extend .faces;
    @include sizer(-450px, -30px, 50px, 50px);
}
a[href="/steve"]:after {
    @extend .faces;
    @include sizer(-510px, -30px, 40px, 50px);
}
a[href="/serious"]:after {
    @extend .faces;
    @include sizer(-540px, -90px, 50px, 50px);
}
a[href="/gserious"]:after {
    @extend .faces;
    @include sizer(-510px, -150px, 50px, 50px);
}
a[href="/gaytroll"]:after {
    @extend .faces;
    @include sizer(-540px, -210px, 39px, 50px);
}
a[href="/deviltroll"]:after {
    @extend .faces;
    @include sizer(-420px, -90px, 37px, 50px);
}
a[href="/freddie"]:after {
    @extend .faces;
    @include sizer(-480px, -240px, 48px, 100px);
}
a[href="/thestonedmod"]:after {
    @extend .faces;
    @include sizer(-540px, -270px, 50px, 53px);
}
a[href="/notbad"]:after {
    @extend .faces;
    @include sizer(-420px, -240px, 42px, 67px);
}
a[href="/trollmum"]:after {
    @extend .faces;
    @include sizer(-330px, -240px, 65px, 80px);
}
a[href="/gwtf"]:after {
    @extend .faces;
    @include sizer(-420px, -150px, 65px, 65px);
}
a[href="/okay"]:after {
    @extend .faces;
    @include sizer(-390px, -30px, 60px, 59px);
}
a[href="/splashy"]:after {
    @extend .faces;
    @include sizer(-240px, -420px, 57px, 45px);
}
a[href="/toomuchweed"]:after {
    @extend .faces;
    @include sizer(-180px, -420px, 45px, 54px);
}
a[href="/chrisbrpwnd"]:after, a[href="/21424"]:after {
    @extend .faces;
    @include sizer(-150px, -480px, 91px, 116px);
}
a[href="/biebs"]:after {
    @extend .faces;
    @include sizer(-120px, -420px, 49px, 68px);
}
a[href="/cereal"]:after {
    @extend .faces;
    @include sizer(-47px, -414px, 40px, 33px);
}
a[href="/foreveralonelaugh"]:after {
    @extend .faces;
    @include sizer(0, -450px, 75px, 86px);
}
a[href="/ohcrap"]:after {
    @extend .faces;
    @include sizer(0, -420px, 30px, 29px);
}
a[href="/jasonqualman"]:after {
    @extend .faces;
    @include sizer(-80px, -485px, 36px, 50px);
}
a[href="/fyl"]:after {
    @extend .faces;
    @include sizer(-90px, -480px, 36px, 50px);
}
a[href="/rmilk"]:after {
    @extend .faces;
    @include sizer(-90px, -60px, 21px, 25px);
}
a[href="/ewbtetext"]:after {
    @extend .faces;
    @include sizer(-120px, -541px, 14px, 10px);
}
a[href="/trap"]:after {
    @extend .faces;
    @include sizer(-480px, -90px, 41px, 40px);
}
