//All flair goes here

//Colored flair
.flair-red {
    color: Red;
}

.flair-blue {
    color: MediumBlue;
}

.flair-pink {
    color: DeepPink;
}

.flair-yellow {
    color: Yellow;
}

.flair-green {
    color: Green;
}

.flair-purple {
    color: Purple;
}

.flair-orange {
    color: Orange;
}


//Styled flair
.flair-strikethrough {
    color: #0047FF;
    text-decoration: line-through;
}

.flair-blackbg { 
    background: black;
    color: white;
}

//Icons
//Flair for people who help us on github
//These people don't need to have flair text, but they do need a flair class of github
.flair-github:before {
    display: inline-block;
    content: "";
    width: 16px; height: 16px;
    background:url(%%github%%)no-repeat;
}

//Flair Templates
.flair-templates {
    background: url(%%flair%%);
    height: 24px;
    display: inline-block;
    border: none;
    vertical-align: middle;
    text-indent: -99999px;
}
.flair-megusta {
    @extend .flair-templates;
    background-position: 0 0;
    width: 19px;
}
.flair-troll {
    @extend .flair-templates;
    background-position: -24px 0;
    width: 23px;
}
.flair-rage {
    @extend .flair-templates;
    background-position: -52px 0;
    width: 17px;
}
.flair-happy {
    @extend .flair-templates;
    background-position: -74px 0;
    width: 19px ;
}
.flair-herp {
    @extend .flair-templates;
    background-position: -98px 0;
    width: 18px;
}
.flair-lol {
    @extend .flair-templates;
    background-position: -121px 0;
    width: 16px;
}
.flair-okay {
    @extend .flair-templates;
    background-position:-142px 0;
    width: 12px;
}
.flair-milk {
    @extend .flair-templates;
    background-position: -159px 0;
    width: 16px;
}
.flair-foreveralone {
    @extend .flair-templates;
    background-position: -179px 0;
    width: 21px;
}
